#h1-1{
    text-align: center; 
    color:red;
    width: 400px;
    padding-left: 100px;
}
#h1-2{
    color:red;
}
#p-1{
    text-align: center; 
    width: 600px;  
    color: white;
}
#p-2{
    color: white;
    width: 550px;
}
#div-1{
    background-color: black;
    opacity: 75%;
}
